In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from surprise import SVD
from surprise import BaselineOnly
from surprise import SlopeOne
from surprise import NormalPredictor
from surprise import Reader
from surprise import Dataset

from surprise.model_selection import cross_validate
from surprise.model_selection import train_test_split

## Loading the data set

In [3]:
df = pd.read_pickle('df_rats.pkl')

In [4]:
df

                                   user_id   book_id  rating  best_book_id
0         8842281e1d1347389f2ab93d60773d4d     22034       5         22034
1         bafc2d50014200cda7cb2b6acd60cd73     22034       5         22034
2         0ef32090550901ead25cb0ea21c4d36b     22034       4         22034
3         8489357f2f485c1a961d4cbdc54ea84b     22034       3         22034
4         623103c8b74b4e97b2077ff2fd33514b     22034       4         22034
...                                    ...       ...     ...           ...
10505812  f099c0c488290d550eff5200c64a3094  17853378       5      17853378
10505813  249f280eaa2398cab3e64faa2fd5f236   5709901       3       5709901
10505814  be6f3f764f0a4b665673671f177949d1  16075973       4      16075973
10505815  b82f3bff7672ffb52a0da25a9194c79d   6687280       4       6687280
10505816  9854bbe54c0ae146d9fe7f2aa24d6258  13625029       4      13625029

[10505817 rows x 4 columns]

In [5]:
df.drop(columns=['best_book_id'],inplace = True)

In [6]:
reader = Reader(rating_scale=(0, 5))
data = Dataset.load_from_df(df[['user_id', 'book_id', 'rating']], reader)

In [7]:
train,test = train_test_split(data, test_size=0.2, random_state=47)

In [9]:
predict_NP = NormalPredictor().fit(train).test(test)

In [ ]:
results_bo_als = cross_validate(BaselineOnly(), data, measures=['RMSE'], cv=3, verbose=True)

In [ ]:
results_bo_sgd = cross_validate(BaselineOnly(bsl_options = {method: 'sgd'}), data, measures=['RMSE'], cv=3, verbose=True)

In [ ]:
results_svd = cross_validate(SVD(), data, measures=['RMSE'], cv=3, verbose=True)

In [ ]:
results_NP = cross_validate(NormalPredictor, data, measures=['RMSE'], cv=3, verbose=True)